body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32 px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1{
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;

}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  background-color: #cccccc;
  background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /*from: https://www.transparenttextures.com/*/
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}


body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  background-color: #cccccc;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* from: https://www.transparenttextures.com/
 This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  text-align: center;

}

.top{
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position:absolute;
  top:0px;
  left:0;
  display:flex;
}

.heading{
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 50px 0 20px;
}

.card{
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 25px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align:left;
}

.card img{
  margin: 30px 20px 0 0;
}

.name{
  font-size: 2em;
  color:#2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.circle-img {
border-radius: 50%;
border: 7px solid #fff;
width: 120px;
height: 120px;
}

.bottom{
  margin-top:120px;
}

.info{
  margin: 20px 0;
  color: #1a7e76;
}






